[submodule "deps/bgfx.cmake"]
	path = deps/bgfx.cmake
	url = https://github.com/ubaldy/bgfx.cmake.git
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "deps/glm"]
	path = deps/glm
	url = https://github.com/g-truc/glm.git
[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw.git
